/* make scroll smooth */
html{
    scroll-behavior: smooth;

}
/* all font source sans pro or sans-serif fallback */
body {
    background-color: #14191d;
    padding: 20px 0px;
    color: #e8e8e8;
    font-family: 'Rubik', sans-serif;
}

/* links yellow */
a{
    color: #FFCAB1;
}
a:hover{
    color: #FF7433;
}

/* h2 smaller */
h2{
    font-weight: 300;
    font-size: 24px;
}

/* tree stuff */
#tree{
    width: 10%;
    vertical-align: baseline;
}
.leaf{
    height: 24px;
    margin: .7em;
    vertical-align: baseline;
}

.goBackTree{
    height: 1em;
    vertical-align: baseline;
}

.resumeIcon{
    width: 50px;
}
/* .pdf{
    height: 30vh;
} */
.btn{
    display:block;
    margin: 15px 0px;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
}
.btn:hover{
    color: grey;
    border: 1px solid grey;
}

.projLink{
    font-size: 20px;
}

.frontImg{
    width: 75%;
}

.linksList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.linksList li::before {
    content: "\200B";
  }

.linksList > li{
    font-size: 20px;
    /* font-weight: bold; */
}
.calcLinksList > li{
    padding: 10px 0px;
}
.explainCalcs > li{
    font-size: 16px;
    margin: 0px 45px;
}

.aside{
    display: block;
    font-size: 14px;
    font-style: italic;
    padding: 5px 0px;
}
.spaceit{
    padding: 30px 0px;
}

.padIt{
    padding-top: 15px;
}
.withSideP{
    padding: 0px 15px;
}

.smallerHeading{
    font-size: 18px;
}

/* project pages */
.webFrame{
    width: inherit;
    height: 60vh;
}

.webImg{
    width: inherit;
}
.whatIDidH4{
    font-size: 22px;
    font-weight: 700;
}
.accompList > li{
    font-size: 20px;
    margin: 10px 0px;
}

.explainList > li {
    font-size: 16px;
    margin : 10px 0px;
}

.referenceImg{
    max-width: 100px;
}

.screenshotImg{
    max-height: 300px;
}
