/* make scroll smooth */
html{
    scroll-behavior: smooth;
    cursor: auto;

}
/* all font source sans pro or sans-serif fallback */
body {
    background-color: #14191d;
    color: #f3f3f3;
    font-family: 'Rubik', sans-serif;  
    padding: 5px;  
}

/* links yellow */
a{
    color: #e9e9e9;
    text-decoration: underline;
}
a:hover{
    color: #a5a5a5;
    font-weight: 500;
}

/* navbar */
nav{
    /* background-color: #0000006e; */
    color: #f3f3f3
}

.breadcrumb{
    background-color: transparent;
    color: #f3f3f3
}
.breadcrumb-item{
    padding: 0px 15px;
}
.breadcrumb-item.active{
    background-color: transparent;
    color: yellowgreen;
    border: 0px;
    font-weight: 700;
}

/* footer */
.footerContents{
    padding:15px;
    width: 100%;
    background-color: #0000006e;
}

#footerHeader{
    font-size: 1.6rem;
    padding-bottom: 15px;
    color: yellowgreen;
}
.footerLink{
    padding: 15px;
}
.footerIcon{
    font-size: 2.5rem;
    color: inherit;
}

/* front page styling */
.intro{
    font-weight: 300;
    line-height: 180%;
}

.myname{
    font-size: 72px;
    font-weight: 500;
}

.fed{
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

.uxd{
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.note{
    font-size: 1.6rem;
    /* font-style: italic; */
}

/* h2 larger */
h2{
    font-weight: 700;
    font-size: 3rem;

}

/* h3 larger */
h3{

}
/* motto font size */
#motto{
    font-size: 1.2rem;
}

.resumeIcon{
    width: 50px;
}

/* button stuff */
.myButton{
    display:block;
    margin: 15px 0px;
    color: white;
    background-color: transparent;
    border: 1px solid #e8e8e8;
}
#fedButton{
    font-family: 'Roboto Mono', monospace;
    /* background-color: #5e3636; */
}
#uxdButton{
    font-family: 'Merriweather', serif;
    /* background-color: #648661; */
}
.myButton:hover{
    color: grey;
    border: 1px solid grey;
}
.active{
    background-color: #969696;
    /* color: black; */
    font-weight: 700;
    border: 1px solid;
}


/* deco */
#bottomdeco{
    float: right;
    width: 5vw;
}
/* frontpage project */
.proj.card{
    background-color: rgba(128, 128, 128, 0.212);
    /* margin: 15px 0px;
    padding: 15px 0px; */
}

.proj.card{
    overflow: hidden;
}
.proj.card:hover .frontImg{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.proj.card:hover{
    box-shadow: 0px 0px 20px 6px rgba(50,205,50,0.68);
    z-index: 100;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.card-title{
    /* padding-left: 15px; */
    font-size: 1rem;
}

.skills{
    color: yellowgreen;
    font-size: 0.8rem;
    padding: 15px;
    margin: 0;
}

.backtotop{
    padding-bottom: 15px;
}

/* calculator page */
.linksList{
    margin: 0;
    padding: 0;
    list-style: none;
}
.linksList li::before {
    content: "\200B";
  }

.linksList > li{
    font-size: 20px;
    /* font-weight: bold; */
}
.calcLinksList > li{
    padding: 10px 0px;
}
.explainCalcs > li{
    font-size: 16px;
    margin: 0px 45px;
}


.spaceit{
    padding-bottom: 30px;
}

.padIt{
    padding-top: 15px;
}

.smallerHeading{
    font-size: 18px;
}

/* project pages */
/* projectSubtitle */
.projSubtitle{
    font-size: 1.3rem;
}

.emphasis{
    color:yellowgreen;
    font-weight: bold;
}
.webFrame{
    width: inherit;
    height: 60vh;
}

.webImg{
    width: inherit;
}
.whatIDidH4{
    font-size: 22px;
    font-weight: 700;
}
.accompList > li{
    font-size: 20px;
    margin: 10px 0px;
}

.explainList > li {
    font-size: 16px;
    margin : 10px 0px;
}

.referenceImg{
    width: 95%;
}
.gifImg{
    width: 50%;
}

.vidEmbed{
    width: 560px;
    height: 315px;
}

.introimg{
    width: 50%;
    min-width: 20vw;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        padding: 20px 50px;
    }
    header{
        padding: 15px;
    }
    .card-title{
        /* padding: 15px 0px; */
        font-size: 1.2rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .superEdges{
        padding-left: 90px;
        padding-right: 90px;
    }
    .frontImg{
        /* width: 70% */
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .frontImg{
        /* width: 85% */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}


