.case-study {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  gap: 15px;
  border-radius: 15px;
  /* margin-bottom: 2rem; */
  background-color: #f5f5dc;
  max-width: 1420px;
}

.case-study--title {
  color: black;
  font-family: "Neuton", serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.case-study--details {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.case-study--projectImg {
  max-width: 500px;
  border-bottom: 5px solid #d2a580;
  border-right: 5px solid #d2a580;
}

.case-study--skill-pills {
  display: flex;
  gap: 10px;
  padding-bottom: 1rem;
}

.case-study--project-link {
  font-size: 1rem;
  background: rgba(210, 165, 128, 0.6);
  color: black;
  border-radius: 15px;
  padding: 8px;
  width: fit-content;
  text-decoration: none;
  border-bottom: 5px solid #a77c59;
  border-right: 5px solid #a77c59;
}

.case-study--project-link:hover {
  background: rgba(210, 165, 128);
  color: black;
  text-decoration: underline;
  border-bottom: 2px solid #886345;
  border-right: 2px solid #886345;
  transform: translateX(3px) translateY(3px);
}

/* .case-study {
  background-image: url('../assets/corner-decorator.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  background-size: 5%;
} */

.case-study-wrapper {
  display: block;
  height: 100%;
  margin-bottom: 2rem;
  position: relative;
}

/* for smaller views */
@media (max-width: 1080px) {
  .case-study {
    display: flex;
    flex-direction: column;
  }
  
  .case-study--projectImg {
    max-width: 100%;
  }
}