.skillpill {
    width: fit-content;
    /* border: 1px solid rgb(170, 170, 117);
    background-color: beige; */
    color: black;
    border-bottom: 5px solid #d2a580;
    border-right: 5px solid #d2a580;
    background-color: white;
    padding: 8px;
    border-radius: 15px;
}

.skillpill > span {
    font-size: 1rem;
}


/* for smaller views */
@media (max-width: 1080px) {
    .skillpill > span {
        font-size: 0.8rem;
    }
  }