html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

div#root {
  height: 100%;
  width: 100%;
}

div.app {
  height: 100%;
  width: 100%;
} 

:root {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  /* color: rgba(0, 0, 0, 0.87); */
  /* color: white; */
  /* background-color: rgb(252, 238, 220); */
  /* background-color: #1a1a1a; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assets/background-img.svg');
  background-repeat: repeat-y;
  background-position-x: right;
  background-size: contain;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 320px;
}

body {
  transition: all ease-in 1s;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  text-align: left;
}

/* undecorated list */
.unmarked-list {
  padding: 0;
}

.unmarked-list > li {
  list-style: none;
}

/* specially decorated list */
.specially-marked-list {
  list-style: none;
  padding-left: 2rem;
}

.specially-marked-list > li::before {
  content: " ";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: url('../src/assets/custom-marker.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 15px;
}

/* tagline */
.tagline {
  margin: 0;
  font-family: "Neuton", serif;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 0;
  width: fit-content;
}

.tagline:after {
  display: block;
  width: 100%;
  content: ' ';
  padding-top: 15px;
  border-bottom: 5px solid #d2a580;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* for smaller views */
@media (max-width: 900px) {
  body {
    height: max-content;
  }

  #root {
    background-color: rgba(255, 255, 255, 0.5);
  }
}